{# цикл чтоб ходить по "товарам" #}
            {% for product in products %}
                {# ДО <p>
                     <a href="{{ path('product', {'id': product.id}) }}">
                         {{ product.name }}</a> - {{ product.price / 100 }}
                 </p> ПОСЛЕ - #}
                <div class="col-md-6 col-lg-3">
                    {#  class = col-md-6  для малих екранов
                        class = col-lg-3  для больших екранов
                     #}
                    <div class="card">
                        {#
                            //placehold.if - сайт которій позволяет рисовать квадратики нужного размера
                        #}
                        <img src="//placehold.it/200x150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                {#Card title - вместо него будет имя продукта. І делаем чтобі била тіпа ссилкою, как више#}
                                <a href="{{ path('product', {'id': product.id}) }}"> {{ product.name }}</a>
                            </h5>
                            <p class="card-text">{# а тут цена #} {{ product.price|money }}</p>
                            <p class="card-text">{# а тут описание продукта #} {{ product.description }}</p>
                            <a href="{{ path('order_add_to_cart', {'id': product.id}) }}"  {# ссылка на корзину #}
                               class="btn btn-primary js-add-to-cart ">{# id js.. для обработчика | а тут корзина #}В корзину</a>
                        </div>
                    </div>
                </div>
            {% endfor %}